<a href="https://colab.research.google.com/github/Chanduyadav03/project1/blob/main/lab33Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LAB 33
#Task 1: creating a tuple
c_tuple =(10,20,30,40,50,60,70)
print("tuple:",c_tuple)

tuple: (10, 20, 30, 40, 50, 60, 70)

In [ ]:
#Task 2:accessing elements in a tuple
print("first :",c_tuple[0])
print("end :",c_tuple[-1])

first : 10
end : 70

In [ ]:
#Task3:slicing a tuple

print("slice [1:4]:",c_tuple[1:4])
print("slice starting in 3:",c_tuple[:3])
print("slice ending in 2:",c_tuple[2:])

slice [1,4]: (20, 30, 40)
slice starting in 3: (10, 20, 30)
slice ending in 2: (30, 40, 50, 60, 70)

In [2]:
#task 4 : concatenating two tuples4
c_tuple =(10,20,30,40,50,60,70)
extra_tuple =(80,90,91)
concatenating=c_tuple+extra_tuple
print("concatenated tuple:",concatenating)

concatenated tuple: (10, 20, 30, 40, 50, 60, 70, 80, 90, 91)

In [3]:
# Task  5 :iterating through a tuple
for item in c_tuple:
    print("Item:",item)

Item: 10
Item: 20
Item: 30
Item: 40
Item: 50
Item: 60
Item: 70

In [4]:
#Task 6 :membrship test a tuple
print("Is 30 in tuple ?",30 in c_tuple)
print("Is 100 not in tuple ?",100 not in c_tuple)

Is 30 in tuple ? True
Is 100 not in tuple ? True

In [6]:
#Task 7 :nested tuples and Accessing Their Elements
nested_tuple = (c_tuple,(70,80,91))
print("Nested tuple:", nested_tuple)
print("accessing nested element (c_tuple[2]):",nested_tuple[0][2])
print("Accessing nested element(90):", nested_tuple[1][2])

Nested tuple: ((10, 20, 30, 40, 50, 60, 70), (70, 80, 91))
accessing nested element (c_tuple[2]): 30
Accessing nested element(90): 91

In [7]:
# Task 8 :Applying built-in Functions on tuples
print("Length of tuple :",len(c_tuple))
print("Maximum value :",max(c_tuple))
print("minimum value:",min(c_tuple))
print("sum of elements:",sum(c_tuple))

Length of tuple : 7
Maximum value : 70
minimum value: 10
sum of elements: 280

In [9]:
#Task 9:updating a tuple (using list conversion)
temp_list = list(c_tuple)
temp_list[2] =44
updated_tuple = tuple(temp_list)
print("updated tuple :",updated_tuple)

updated tuple : (10, 20, 44, 40, 50, 60, 70)

In [11]:
#Task 10:deleting a tuple
del c_tuple
print("c_tuple is deleted")

NameError: name 'c_tuple' is not defined